USE [SMI_DB_Reporting_JKT]
GO
/****** Object:  StoredProcedure [dbo].[spDataPenggunaanVoucher]    Script Date: 2/3/2026 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spDataPenggunaanVoucher] (@date1 date,@date2 date,@idcabang int)
as
begin

	--Start Query Header Voucher
	INSERT INTO SMI_DB_Reporting_JKT.DBO.SMI_Data_Penggunaan_Voucher
	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar,totalQty,totalRpPenjualan 
	FROM PB_DC_JKT.dbo.transaksitokoHeader a
			JOIN PB_DC_JKT.dbo.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN PB_DC_JKT.dbo.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN PB_DC_JKT.dbo.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN PB_DC_JKT.dbo.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
							JOIN PB_DC_JKT.dbo.mstMember b 
								ON b.noPolisi=g.noPolisi
							JOIN PB_DC_JKT.dbo.mstJenisMember d 
								ON d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN PB_DC_JKT.dbo.smimstgroupvoucherheader h 
								ON h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN PB_DC_JKT.dbo.MstMarchantVoucher i 
								ON c.idMarchant = i.idMarchant 
							LEFT JOIN PB_DC_JKT.dbo.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='PVO' and substring(c.nomorserivoucher,1,1) in ('1','3')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar,totalQty,totalRpPenjualan 
	FROM PB_DC_JKT.dbo.transaksitokoHeader a
			JOIN PB_DC_JKT.dbo.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN PB_DC_JKT.dbo.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN PB_DC_JKT.dbo.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN PB_DC_JKT.dbo.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
							JOIN PB_DC_JKT.dbo.mstMember b 
								on b.noPolisi=g.noPolisi
							JOIN PB_DC_JKT.dbo.mstJenisMember d 
								on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN PB_DC_JKT.dbo.smimstgroupvoucherheaderDiskon h 
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN PB_DC_JKT.dbo.MstMarchantVoucher i 
								ON c.idMarchant = i.idMarchant  
							LEFT JOIN PB_DC_JKT.dbo.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='VOU' and substring(c.nomorserivoucher,1,1) in ('2','4')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar,totalQty,totalRpPenjualan 
	FROM PB_DC_JKT.dbo.transaksitokoHeader a
			JOIN PB_DC_JKT.dbo.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN PB_DC_JKT.dbo.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN PB_DC_JKT.dbo.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN PB_DC_JKT.dbo.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								JOIN PB_DC_JKT.dbo.mstMember b on b.noPolisi=g.noPolisi
								JOIN PB_DC_JKT.dbo.mstJenisMember d on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN PB_DC_JKT.dbo.smimstgroupvoucherheaderPersen h 
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN PB_DC_JKT.dbo.MstMarchantVoucherPersen I 
								ON c.idMarchant = I.idMarchant  
							LEFT JOIN PB_DC_JKT.dbo.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='PVO' and substring(c.nomorserivoucher,1,1) in ('5','7')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar,totalQty,totalRpPenjualan 
	FROM PB_DC_JKT.dbo.transaksitokoHeader a
			JOIN PB_DC_JKT.dbo.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN PB_DC_JKT.dbo.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN PB_DC_JKT.dbo.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN PB_DC_JKT.dbo.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								JOIN PB_DC_JKT.dbo.mstMember b on b.noPolisi=g.noPolisi
								JOIN PB_DC_JKT.dbo.mstJenisMember d on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN PB_DC_JKT.dbo.smimstgroupvoucherheaderDiskonPersen h
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN PB_DC_JKT.dbo.MstMarchantVoucherPersen I 
								ON c.idMarchant = I.idMarchant  
							LEFT JOIN PB_DC_JKT.dbo.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='VOU' and substring(c.nomorserivoucher,1,1) in ('6','8')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar,totalQty,totalRpPenjualan 
	FROM PB_DC_JKT.dbo.transaksitokoHeader a
			JOIN PB_DC_JKT.dbo.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN PB_DC_JKT.dbo.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN PB_DC_JKT.dbo.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN PB_DC_JKT.dbo.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								JOIN PB_DC_JKT.dbo.mstMember b on b.noPolisi=g.noPolisi
								JOIN PB_DC_JKT.dbo.mstJenisMember d on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN PB_DC_JKT.dbo.smimstgroupvoucherheaderPersen h 
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN PB_DC_JKT.dbo.MstMarchantVoucherPersen I 
								ON c.idMarchant = I.idMarchant 
							LEFT JOIN PB_DC_JKT.dbo.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='VOU' and substring(c.nomorserivoucher,1,1) in ('9')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,' ' as namaGroupVoucher,' ' as namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar,totalQty,totalRpPenjualan 
	FROM PB_DC_JKT.dbo.transaksitokoHeader a
			JOIN PB_DC_JKT.dbo.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN PB_DC_JKT.dbo.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN PB_DC_JKT.dbo.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN PB_DC_JKT.dbo.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								LEFT JOIN PB_DC_JKT.dbo.mstMember b on b.noPolisi=g.noPolisi
								LEFT JOIN PB_DC_JKT.dbo.mstJenisMember d on d.idjenisMember=g.idjenisMember 
							LEFT JOIN PB_DC_JKT.dbo.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and SUBSTRING(c.nomorseriVoucher,1,1) not like '[0-9]'
	ORDER BY kodetoko,tglBayar
	---End Query
	
end;