--USE [PB_DC]
--GO
--/****** Object:  StoredProcedure [dbo].[sp_SMI_InvMove_DC_detail_view_v11]    Script Date: 10/20/2025 9:32:32 AM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO


--ALTER PROCEDURE [dbo].[GetSMIInventoryMovementConsignmentDC]

--(
--	@date1 date,   
--    @date2 date,
--	@iddc int
	
--)

--AS
--SET TRANSACTION ISOLATION LEVEL READ unCOMMITTED ; 

--set nocount on

--BEGIN

DECLARE @date1 DATE = '2025-09-01';
DECLARE @date2 DATE = '2025-09-30';
DECLARE @kodestatustoko VARCHAR(10) = 'R';
DECLARE @idcabang INT = 2;
		Select 
		m.iddc,m.idproduk,m.kodeproduk,m.Barcode3,m.namaPanjang,m.Category,m.COA,m.idjenisstok,
		sum(m.ttl_qty_SaldoAwal) as ttl_qty_SaldoAwal,
		sum(m.ttl_Value_SaldoAwal) as ttl_Value_SaldoAwal,
		sum(m.qty_LPB_Supp) as qty_LPB_Supp,
		sum(m.Value_LPB_Supp) as Value_LPB_Supp,

		sum(m.Qty_Retur_Reg) as Qty_Retur_Reg,
		sum(m.Value_Retur_Reg) as Value_Retur_Reg,		

		sum(m.Qty_Retur_FRC) as Qty_Retur_FRC,
		sum(m.Value_Retur_FRC) as Value_Retur_FRC,

		sum(m.Qty_Retur_SLS_Order) as Qty_Retur_SLS_Order,
		sum(m.value_Retur_SLS_Order) as value_Retur_SLS_Order,		

		sum(m.Qty_DC_IN) as Qty_DC_IN, 
		sum(m.Value_DC_IN) as Value_DC_IN,

		sum(m.Qty_ReturSupp) as Qty_ReturSupp,
		sum(m.Value_ReturSupp) as Value_ReturSupp,

		sum(m.Qty_TO_REG) as Qty_TO_REG,
		sum(m.Value_TO_REG) as Value_TO_REG,
		sum(m.Qty_SLS_Order) as Qty_SLS_Order,
		sum(m.value_SLS_Order) as value_SLS_Order,
		sum(m.Qty_DO_FRC) as Qty_DO_FRC,
		sum(m.Value_DO_FRC) as Value_DO_FRC,		
		sum(m.Qty_DC_Out) as Qty_DC_Out,
		sum(m.Value_DC_Out) as Value_DC_Out,	
	
		sum(m.Qty_SO_PlusMinus) as Qty_SO_PlusMinus,
		sum(m.value_SO_PlusMinus) as value_SO_PlusMinus,

		sum(m.Qty_MGStoBS_minus) as Qty_MGStoBS_minus,
		sum(m.Value_MGStoBS_minus) as Value_MGStoBS_minus,
		sum(m.Qty_MBStoGS_Plus) as Qty_MBStoGS_Plus,
		sum(m.Value_MBStoGS_Plus) as Value_MBStoGS_Plus,		

		sum(m.Qty_MGStoBS_plus) as Qty_MGStoBS_plus,
		sum(m.Value_MGStoBS_plus) as Value_MGStoBS_plus,
		sum(m.Qty_MBStoGS_minus) as Qty_MBStoGS_minus,
		sum(m.Value_MBStoGS_minus) as Value_MBStoGS_minus,

		sum(m.Qty_MGStoGB_minus) as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
		sum(m.Value_MGStoGB_minus) as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
		sum(m.Qty_MGBtoGS_Plus) as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
		sum(m.Value_MGBtoGS_Plus) as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

		sum(m.Qty_MGBtoGS_minus) as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
		sum(m.Value_MGBtoGS_minus) as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
		sum(m.Qty_MGStoGB_Plus) as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
		sum(m.Value_MGStoGB_Plus) as Value_MGStoGB_Plus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock

		case 
		when m.idjenisstok=1 
			then (sum(m.ttl_qty_SaldoAwal)+sum(m.qty_LPB_Supp)+sum(m.Qty_Retur_Reg)+sum(m.Qty_Retur_FRC)+sum(m.Qty_Retur_SLS_Order)+sum(m.Qty_DC_IN)
			-sum(m.Qty_ReturSupp)-sum(m.Qty_TO_REG)-sum(m.Qty_SLS_Order)-sum(m.Qty_DO_FRC)-sum(m.Qty_DC_Out)+sum(m.Qty_SO_PlusMinus)+sum(m.Qty_MBStoGS_Plus)-sum(m.Qty_MGStoBS_minus)
			-sum(m.Qty_MGStoGB_minus)+sum(m.Qty_MGBtoGS_Plus))

		when m.idjenisstok=2 then (sum(m.ttl_qty_SaldoAwal)+sum(m.qty_LPB_Supp)+sum(m.Qty_Retur_Reg)+sum(m.Qty_Retur_FRC)+sum(m.Qty_Retur_SLS_Order)+sum(m.Qty_DC_IN)
			-sum(m.Qty_ReturSupp)-sum(m.Qty_TO_REG)-sum(m.Qty_SLS_Order)-sum(m.Qty_DO_FRC)-sum(m.Qty_DC_Out)+sum(m.Qty_SO_PlusMinus)+sum(m.Qty_MGStoBS_plus)-sum(m.Qty_MBStoGS_minus))
	
		when m.idjenisstok=3 
			then (sum(m.ttl_qty_SaldoAwal)+sum(m.qty_LPB_Supp)+sum(m.Qty_Retur_Reg)+sum(m.Qty_Retur_FRC)+sum(m.Qty_Retur_SLS_Order)+sum(m.Qty_DC_IN)
			-sum(m.Qty_ReturSupp)-sum(m.Qty_TO_REG)-sum(m.Qty_SLS_Order)-sum(m.Qty_DO_FRC)-sum(m.Qty_DC_Out)+sum(m.Qty_SO_PlusMinus)+sum(m.Qty_MBStoGS_Plus)-sum(m.Qty_MGStoBS_minus)
			-sum(m.Qty_MGBtoGS_minus)+sum(m.Qty_MGStoGB_Plus))
		else 0 end as qty_saldo_hit,

	case 
		when m.idjenisstok=1 
			then (sum(m.ttl_Value_SaldoAwal)+sum(m.Value_LPB_Supp)+sum(m.Value_Retur_Reg)+sum(m.Value_Retur_FRC)+sum(m.value_Retur_SLS_Order)+sum(m.Value_DC_IN)
			-sum(m.Value_ReturSupp)-sum(m.Value_TO_REG)-sum(m.value_SLS_Order)-sum(m.Value_DO_FRC)-sum(m.Value_DC_Out)+sum(m.value_SO_PlusMinus)+sum(m.Value_MBStoGS_Plus)-sum(m.Value_MGStoBS_minus)
			-sum(m.Value_MGStoGB_minus)+sum(m.Value_MGBtoGS_Plus))
	
		when m.idjenisstok=2 then (sum(m.ttl_Value_SaldoAwal)+sum(m.Value_LPB_Supp)+sum(m.Value_Retur_Reg)+sum(m.Value_Retur_FRC)+sum(m.value_Retur_SLS_Order)+sum(m.Value_DC_IN)
			-sum(m.Value_ReturSupp)-sum(m.Value_TO_REG)-sum(m.value_SLS_Order)-sum(m.Value_DO_FRC)-sum(m.Value_DC_Out)+sum(m.value_SO_PlusMinus)+sum(m.Value_MGStoBS_plus)-sum(m.Value_MBStoGS_minus))
	
		when m.idjenisstok=3 
			then (sum(m.ttl_Value_SaldoAwal)+sum(m.Value_LPB_Supp)+sum(m.Value_Retur_Reg)+sum(m.Value_Retur_FRC)+sum(m.value_Retur_SLS_Order)+sum(m.Value_DC_IN)
			-sum(m.Value_ReturSupp)-sum(m.Value_TO_REG)-sum(m.value_SLS_Order)-sum(m.Value_DO_FRC)-sum(m.Value_DC_Out)+sum(m.value_SO_PlusMinus)+sum(m.Value_MBStoGS_Plus)-sum(m.Value_MGStoBS_minus)
			-sum(m.Value_MGBtoGS_minus)+sum(m.Value_MGStoGB_Plus))
		 else 0 end as Value_saldo_hit
 
		From (					
			Select -- Saldo Awal--
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,D.idjenisstok,
			sum(isnull(Qty,0)) as ttl_qty_SaldoAwal,
			(sum(isnull(Qty,0)*isnull(hpp,0))) as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,			
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,

			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			from saldostokprodukdc as D-- Update tgl 31 Jan 2022
			inner join MstProduk mp on mp.idProduk = D.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and
			--idJenisStok =1
			convert(date,D.tglsaldo)= convert(date,(dateadd (day,-1, @date1))) 
			--convert(date,D.tglsaldo)='2019-02-28'
			--convert(date,D.tglsaldo)= convert(date,(dateadd (day,-1, '2021-01-01'))  
			and idDc =@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and idproduk=1
			--and idDc=4
			Group by D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,Y.name,mp.namaPanjang,z.namadepartement,D.idjenisstok	
		Union ALL
			SELECT --- LPB_DC Dari Supplier -------------
			B.iddc,A.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,1 as idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			sum(isnull(A.qty,0)) as qty_LPB_Supp,
			--sum(A.subtotal) as Value_LPB_Supp, -- Incl PPN
			sum(isnull(A.rpLPB,0)) as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			from V_SMI_LpbDCDariSupplier as A with (NOLOCK)
			inner join mstdc as B with (NOLOCK) on A.kodedc=B.kodedc
			inner join MstProduk mp on mp.idProduk = A.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			A.statusdata in (1,2) -- info dari Arief 09 Juli 2025 Status data 2 adalah sdh di receive dan di match invoice dari Aplikasi FIS
			--and convert(date,A.tglApprove) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,A.tglApprove) between '2019-03-01' and '2019-03-31'
			and convert(date,A.tglApprove) between @date1 and @date2
			--and convert(date,A.tgltiba) between @date1 and @date2 -- update 12 Nov.2021
			--and convert(date,A.tgltiba) between '2021-01-01' and '2021-01-31' -- update 12 Nov.2021
			And B.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and B.iddc=1
			Group By B.iddc,mp.Barcode3,mp.kodeproduk,A.idproduk,Y.name,mp.namaPanjang,z.namadepartement
		UNION ALL
			Select --- Retur dr Toko Reguler ---
			A.iddc,A.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,A.idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			sum(isnull(A.qty_retur,0)) as Qty_Retur_Reg,
			Sum(isnull(A.Netto,0)) as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,	
			
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			from V_SMI_ReturdanLPBTokoKeDc as A with (NOLOCK)
			Inner join msttoko as B with (NOLOCK) on A.kodetoko=B.kodetoko
			inner join MstProduk mp on mp.idProduk = A.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and
			--B.kodestatustoko not in ('F','M','T') -- update 12 Nov. 2021
			B.kodestatustoko ='R' -- update 12 Nov. 2021
			and A.statusdata=2
			--and A.idjenisstok=1
			--and convert(date,tglLPB) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			and convert(date,tglLPB) between @date1 and @date2
			--and convert(date,tglLPB) between '2019-02-01' and '2019-02-28'
			and A.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			Group by A.iddc,mp.Barcode3,mp.kodeproduk,A.idproduk,Y.name,mp.namaPanjang,z.namadepartement,A.idjenisstok	
		UNION ALL
			Select --- Retur dr Frainchise ---
			A.iddc,A.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,A.idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			sum(isnull(A.qty_retur,0)) as Qty_Retur_FRC, --Update 20210330
			(Sum(isnull(A.qty_retur,0)*isnull(Hppdc,0))) as Value_Retur_FRC,--Update 20210330
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			from V_SMI_ReturdanLPBTokoKeDc as A with (NOLOCK)
			--V_SMI_ReturdanLPB_Toko_FRC_KeDc with (NOLOCK)
			Inner join msttoko as B with (NOLOCK) on A.kodetoko=B.kodetoko
			inner join MstProduk mp on mp.idProduk = A.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and
			--B.kodestatustoko in ('F','M','T') -- update 12 Nov. 2021
			A.statusdata=2 -- Update 22 Mei 2022 by Toha
			and B.kodestatustoko <>'R' -- update 12 Nov. 2021
			--and convert(date,A.tglLPB) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,A.tglLPB) between '2019-02-01' and '2019-02-28'
			and convert(date,tglLPB) between @date1 and @date2
			--and A.idproduk=711
			and A.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			Group by A.iddc,mp.Barcode3,mp.kodeproduk,A.idproduk,mp.namaPanjang,z.namadepartement,Y.name,A.idjenisstok	
		UNION ALL
			Select --- Retur Sales Order ---
			A.iddc,A.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,A.idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC, 
			0 as Value_Retur_FRC,
			sum(isnull(A.qty,0)) as Qty_Retur_SLS_Order, --Update 20250604
			(Sum(isnull(A.qty,0)*isnull(Hppshipment,0))) as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
				
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			--from V_SMI_ReturdanLPBTokoKeDc as A with (NOLOCK)
			from V_SMI_ReturSalesOrder as A with (NOLOCK)
			--V_SMI_ReturdanLPB_Toko_FRC_KeDc with (NOLOCK)
			inner join MstProduk mp on mp.idProduk = A.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and
			A.statusreceipt=1
			--and convert(date,A.TglReceipt) between '2025-05-01' and '2025-05-31'
			and convert(date,A.TglReceipt) between @date1 and @date2
			--and A.idproduk=711
			and A.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			Group by A.iddc,mp.Barcode3,mp.kodeproduk,A.idproduk,mp.namaPanjang,z.namadepartement,Y.name,A.idjenisstok
		UNION ALL
			Select --- Mutasi DC IN ---
			D.idDcPenerima as iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,1 as idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC, --Update 20210330
			0 as Value_Retur_FRC,--Update 20210330
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			sum(isnull(qty,0)) as Qty_DC_IN,
			sum(isnull(subTotal,0)) as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,	
			
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_Mutasi_DC_IN D
			inner join MstProduk mp on mp.idProduk = D.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and
			D.Statusdata=1
			--and convert(date,TglApprove) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,TglApprove) between '2019-03-01' and '2019-03-31'
			and convert(date,TglApprove) between @date1 and @date2
			--and idDcPenerima=5
			and idDcPenerima=@iddc
			and idDcPengirim<>@idDc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and idProduk=712
			--and idproduk=55
			Group by D.idDcPenerima,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name			
		Union ALL
			SELECT --- Retur DC ke Supplier 
			B.iddc,A.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,A.idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC, --Update 20210330
			0 as Value_Retur_FRC,--Update 20210330
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN,
			0 as Value_DC_IN,
			sum(isnull(A.qty,0)) as Qty_ReturSupp,
			(sum(isnull(A.qty,0)*isnull(A.harga,0))) as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,

			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_ReturDcKeSupplier as A with (NOLOCK)
			inner join mstdc as B with (NOLOCK) on A.kodedc=B.kodedc
			inner join MstProduk mp on mp.idProduk = A.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and
			A.statusdata=1
			--and A.idJenisStok=1
			--and convert(date,A.tglApprove) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,A.tglApprove) between '2019-03-01' and '2019-03-31'
			and convert(date,A.tglApprove) between @date1 and @date2
			and B.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			Group By B.iddc,mp.Barcode3,mp.kodeproduk,A.idproduk,Y.name,mp.namaPanjang,z.namadepartement,A.idjenisstok	
		UNION ALL
			select  --- DO (TO/SJ) ke Toko Reguler ---
			A.iddc,A.idproduk,C.kodeproduk,C.Barcode3,C.namaPanjang,z.namadepartement as Category,Y.name as COA,1 as idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC, --Update 20210330
			0 as Value_Retur_FRC,--Update 20210330
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN,
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			(sum(isnull(A.qtyTO,0))) as Qty_TO_REG,
			(sum(isnull(A.Subtotal,0))) as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,	
			
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_TO_ke_Toko_ManualdanOtomatis_Cab as A with (NOLOCK)
			Inner join msttoko as B with (NOLOCK) on A.kodetoko=B.kodetoko
			Inner Join mstproduk as C with (NOLOCK) on A.idproduk=C.idproduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			inner join MstDepartement z on z.idDepartement = C.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and C.statusdata<>9 and C.idjenisproduk<>4 and
			--B.kodestatustoko not in ('F','M','T') -- update 12 Nov. 2021
			B.kodestatustoko='R' -- update 12 Nov. 2021
			and A.statusdata <>0	
			--and convert(date,A.tglApprove) between '2019-10-01' and '2019-10-31'
			--and convert(date,tglApprove) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglApprove) between '2019-02-01' and '2019-02-28'
			and convert(date,A.tglApprove) between @date1 and @date2
			and convert(date,A.tglApprove) is not null --update tgl 21 Mei 2022 by Toha
			and A.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and c.flagkonsinyasi=0
			Group by A.iddc,C.Barcode3,C.kodeproduk,A.idproduk,Y.name,C.namaPanjang,z.namadepartement
		UNION ALL
			select -- Sales Order (modul baru di DC) penjualan lansung dr DC -- Update 04 Agt 2023 by Toha --
			--a.tglshipment,
			a.iddc,
			b.idproduk,
			C.kodeproduk,
			C.Barcode3,
			C.namaPanjang,
			z.namadepartement as Category,
			Y.name as COA,
			a."IdJenisStock",
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC, --Update 20210330
			0 as Value_Retur_FRC,--Update 20210330
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN,
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			(sum(isnull(b.qty,0))) as Qty_SLS_Order,
			(sum(isnull((b.qty*b.hpp),0))) as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,
			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,
			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock			
		from shipmentHeader as a with (nolock)
			join shipmentDetail as b with (nolock) on b.iddc=a.iddc and b.nomoruso=a.nomoruso 
					and b.nomorso=a.nomorso and b.nomorshipment=a.nomorshipment
			join mstproduk as c with (nolock) on  c.idproduk=b.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=B.idproduk
			join MstDepartement z on z.idDepartement = C.idDepartement 
			Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Join MstCoa as y with (NOLOCK) on x.COACode =y.code
		where 
			x.Keterangan='Persediaan' and C.statusdata<>9 and C.idjenisproduk<>4 
			and A.statusdata=1
			--and convert(date,A.tglshipment) between '2023-08-01' and '2023-08-31'
			--and convert(date,a.tglshipment) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			and convert(date,a.tglshipment) between @date1 and @date2
			--and b.idproduk=162
			and a.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and c.flagkonsinyasi=0
			--and a.iddc=1
		group by
			a.iddc,
			b.idproduk,
			C.kodeproduk,
			C.Barcode3,
			C.namaPanjang,
			z.namadepartement,
			Y.name,
			a."IdJenisStock",
			b.hpp
		UNION ALL
			select  --- DO (TO) ke Frainchise ---
			A.iddc,A.idproduk,C.kodeproduk,C.Barcode3,C.namaPanjang,z.namadepartement as Category,Y.name as COA,1 as idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC, --Update 20210330
			0 as Value_Retur_FRC,--Update 20210330
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN,
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			(sum(isnull(A.qtyTO,0))) as Qty_DO_FRC,
			(sum(isnull(A.Subtotal,0))) as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_TO_ke_Toko_ManualdanOtomatis_Cab as A with (NOLOCK)
			Inner join msttoko as B with (NOLOCK) on A.kodetoko=B.kodetoko
			Inner Join mstproduk as C with (NOLOCK) on A.idproduk=C.idproduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			inner join MstDepartement z on z.idDepartement = C.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and C.statusdata<>9 and C.idjenisproduk<>4 and
			--B.kodestatustoko in ('F','M','T') -- update 12 Nov. 2021
			B.kodestatustoko <>'R' -- update 12 Nov. 2021
			and A.statusdata<>0
			--and convert(date,A.tglApprove) between '2019-02-01' and '2019-02-28'
			--and convert(date,tglApprove) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			and convert(date,A.tglApprove) between @date1 and @date2
			and convert(date,A.tglApprove) is not null --update tgl 21 Mei 2022 by Toha
			--and A.idproduk=711
			and A.iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and C.flagkonsinyasi=0
			Group by A.iddc,C.Barcode3,C.kodeproduk,A.idproduk,Y.name,C.namaPanjang,z.namadepartement
		UNION ALL		
			select --Mutasi DC Out --
			t.iddc,
			t.idproduk,t.kodeproduk,t.Barcode3,t.namapanjang,t.Category,t.COA,t.idjenisstok,
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,
		
			sum(t.qty) as Qty_DC_Out,
			sum(t.subtotal) as Value_DC_Out,

			0 as Qty_SO_PlusMinus,
			0 as Value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From (
					select 
					@iddc as iddc,	
					a.idproduk,c.kodeProduk,c.barcode3,c.namaPanjang,z.namaDepartement as Category,
					y.name as COA,1 as idJenisStok,	
					sum(a.qty) as Qty,
					sum(a.subtotal) as subtotal
					from MutasiDCDetailOut a 
					join MutasiDCHeaderOut b on b.idDcPengirim=a.idDcPengirim and b.idDcPenerima=a.idDcPenerima and b.NoMutasi=a.NoMutasi
					join mstproduk as c on a.idproduk=c.idproduk
					left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
					join MstDepartement z on z.idDepartement = c.idDepartement 
					Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement and x.idDepartement=c.idDepartement --and x.COACode=F.COACode
					Join MstCoa as y with (NOLOCK) on x.COACode =y.code 
					where 
					x.Keterangan='Persediaan' and c.idjenisproduk<>4 and 
					--CONVERT(date,b.TglApprove) between '2022-01-01' and '2022-01-31' 
					CONVERT(date,b.TglApprove) between @date1 and @date2
					and b.idDcPengirim=@iddc
					and b.idDcPenerima<>@idDc
					and ISNULL(x1.NonStock,0)=0
					and C.flagkonsinyasi=0
					group by 
					a.idproduk,c.kodeProduk,c.barcode3,c.namaPanjang,z.namaDepartement,y.name
				) as t
				group by 
				t.idproduk,t.kodeproduk,t.Barcode3,t.namapanjang,t.Category,t.COA,t.idjenisstok,t.iddc
		UNION ALL
			select -- SO Adjustmen Plus Minus
			a.iddc,	
			a.idproduk,c.kodeProduk,c.barcode3,c.namaPanjang,
			z.namaDepartement as Category,
			y.name as COA,
			b.idJenisStok,	
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,					
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,

			sum(isnull(a.qtySelisih,0)) as Qty_SO_PlusMinus,
			sum(isnull(a.subtotalselisih,0)) as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			from SoAdjusmentDetail a 
			join SoAdjusmentHeader b on b.idDc=a.idDc and b.nomorSoAdjusment=a.nomorSoAdjusment
			join mstproduk as c on a.idproduk=c.idproduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=A.idproduk
			join MstDepartement z on z.idDepartement = c.idDepartement 
			Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement and x.idDepartement=c.idDepartement --and x.COACode=F.COACode
			Join MstCoa as y with (NOLOCK) on x.COACode =y.code 
			where 
			x.Keterangan='Persediaan' and c.idjenisproduk<>4 
			and b.statusData=2 
			and 
			CONVERT(date,b.tglsoadjusment) between @date1 and @date2
			--CONVERT(date,b.tglsoadjusment) between '2025-03-01' and '2025-03-31' 
			and a.iddc=@iddc
			--and a.iddc=1
			and ISNULL(x1.NonStock,0)=0
			and c.flagkonsinyasi=0
			--and a.nomorSoAdjusment='2025030006'
			group by 
			a.iddc,a.nomorSoAdjusment,
			a.idproduk,c.kodeProduk,c.barcode3,c.namaPanjang,
			z.namaDepartement,
			y.name,b.idJenisStok

		union all
			SELECT--- Mutasi BS to GS -- Gudang 1 MBG Plus
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(Month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,1 as idjenisstok, --- utk Gdg 1 (GS) 
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,	
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			sum(isnull(qty,0)) as Qty_MBStoGS_Plus,
			sum(isnull(subTotal,0)) as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_MutasiSaldoDc D
			inner join MstProduk mp on mp.idProduk = D.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=15 ---MBG 
			and statusProses=1
			and idlokasiMovment=2
			--and (MONTH(tglMutasi) = MONTH(GETDATE()-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglMutasi) between '2019-03-01' and '2019-03-31'
			and convert(date,tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name			
		UNION ALL	
			SELECT--- Mutasi GS to BS -- Gudang 1 MGB minus
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(Month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,1 as idjenisstok, --- utk Gdg 1 (GS) --- 
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,	
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			sum(isnull(qty,0)) as Qty_MGStoBS_minus,
			sum(isnull(subTotal,0)) as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_MutasiSaldoDc  D  
			inner join MstProduk mp on mp.idProduk = D.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=16 ---MGB (idMovment=15-->MBG)
			and statusProses=1
			and idlokasiMovment=2 -- DC
			--and (MONTH(tglMutasi) = MONTH(GETDATE()-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglMutasi) between '2019-02-01' and '2019-02-28'
			and convert(date,tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name				
		UNION ALL
			SELECT--- Mutasi GS to BS (BS jd (-) --Gudang 2 Qty_MGStoBS_plus
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(Month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,2 as idjenisstok, --- utk Gdg 2 (BS) --- 
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			sum(isnull(qty,0)) as Qty_MGStoBS_plus,
			sum(isnull(subTotal,0)) as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_MutasiSaldoDc D
			inner join MstProduk mp on mp.idProduk = D.idProduk
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=16 ---MGB 
			and statusProses=1
			and idlokasiMovment=2 -- DC
			--and (MONTH(tglMutasi) = MONTH(GETDATE()-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglMutasi) between '2019-02-01' and '2019-02-28'
			and convert(date,tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name

		UNION ALL
			SELECT--- Mutasi BS to GS (BS jd (-)) --Gdg 2
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(Month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,2 as idjenisstok, --- utk Gdg 2 (BS)
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			sum(isnull(qty,0)) as Qty_MBStoGS_minus,
			sum(isnull(subTotal,0)) as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_MutasiSaldoDc D
			inner join MstProduk mp on mp.idProduk = D.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=15 ---MBG 
			and statusProses=1
			and idlokasiMovment=2
			--and (MONTH(tglMutasi) = MONTH(GETDATE())-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE()) -1 , 0) and DATEADD(DAY, -(DAY(GETDATE())), GETDATE())
			--and convert(date,tglMutasi) between '2019-03-01' and '2019-03-31'
			and convert(date,tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name
		union all
			SELECT--- Mutasi Booking IN-- di Gdg GS minus
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,
			1 as idjenisstok, --- utk Gdg 1 (GS) 
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,	
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			sum(isnull(qty,0)) as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			sum(isnull(subTotal,0)) as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_MutasiSaldoDc D
			inner join MstProduk mp on mp.idProduk = D.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=22 ---BOOKING IN 
			and statusProses=1
			and idlokasiMovment=2
			--and (MONTH(tglMutasi) = MONTH(GETDATE()-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglMutasi) between '2019-03-01' and '2019-03-31'
			and convert(date,D.tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name
		Union All
			SELECT--- Mutasi Booking OUT-- di Gdg GS Plus
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,
			1 as idjenisstok, --- utk Gdg 1 (GS) 
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			sum(isnull(qty,0)) as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			sum(isnull(subTotal,0)) as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock
				
			From V_SMI_MutasiSaldoDc D
			inner join MstProduk mp on mp.idProduk = D.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=23 ---BOOKING OUT
			and statusProses=1
			and idlokasiMovment=2
			--and (MONTH(tglMutasi) = MONTH(GETDATE()-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglMutasi) between '2019-03-01' and '2019-03-31'
			and convert(date,tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name
	union all
			SELECT--- --- Mutasi Booking IN-- di GB (GS to GB (+))
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,
			3 as idjenisstok, --- utk Gdg 3 (Booking Stock) 
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			0 as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			sum(isnull(qty,0)) as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			sum(isnull(subTotal,0)) as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_MutasiSaldoDc D
			inner join MstProduk mp on mp.idProduk = D.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=22 ---BOOKING IN 
			and statusProses=1
			and idlokasiMovment=2
			--and (MONTH(tglMutasi) = MONTH(GETDATE()-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglMutasi) between '2019-03-01' and '2019-03-31'
			and convert(date,D.tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name
		Union All
			SELECT--- --- Mutasi Booking OUT-- di GB (GB to GS (-)) 
			--datepart(year,D.tglMutasi) as tahun,
			--datepart(month,D.tglMutasi) as Bulan,
			D.iddc,D.idproduk,mp.kodeproduk,mp.Barcode3,mp.namaPanjang,z.namadepartement as Category,Y.name as COA,3 as idjenisstok, --- utk Gdg 3 (Booking Stock) 
			0 as ttl_qty_SaldoAwal,
			0 as ttl_Value_SaldoAwal,
			0 as qty_LPB_Supp,
			0 as Value_LPB_Supp,
			0 as Qty_Retur_Reg,
			0 as Value_Retur_Reg,
			0 as Qty_Retur_FRC,
			0 as Value_Retur_FRC,
			0 as Qty_Retur_SLS_Order, --Update 20250604
			0 as Value_Retur_SLS_Order,--Update 20250604
			0 as Qty_DC_IN, 
			0 as Value_DC_IN,
			0 as Qty_ReturSupp,
			0 as Value_ReturSupp,
			0 as Qty_TO_REG,
			0 as Value_TO_REG,
			0 as Qty_SLS_Order,
			0 as Value_SLS_Order,
			0 as Qty_DO_FRC,
			0 as Value_DO_FRC,		
			0 as Qty_DC_Out,
			0 as Value_DC_Out,
			
			0 as Qty_SO_PlusMinus,
			0 as value_SO_PlusMinus,

			0 as Qty_MGStoBS_minus,
			0 as Value_MGStoBS_minus,
			0 as Qty_MBStoGS_Plus,
			0 as Value_MBStoGS_Plus,		

			0 as Qty_MGStoBS_plus,
			0 as Value_MGStoBS_plus,
			0 as Qty_MBStoGS_minus,
			0 as Value_MBStoGS_minus,

			0 as Qty_MGStoGB_minus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_minus, -- Value Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Qty_MGBtoGS_Plus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Value_MGBtoGS_Plus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock

			sum(isnull(qty,0)) as Qty_MGBtoGS_minus, -- Qty Mutasi dr Gdg Booking Stock ke Good Stock
			sum(isnull(subTotal,0)) as Value_MGBtoGS_minus, -- Value Mutasi dr Gdg Booking Stock ke Good Stock
			0 as Qty_MGStoGB_Plus, -- Qty Mutasi dr Gdg Good Stock ke Booking Stock
			0 as Value_MGStoGB_Plus -- Value Mutasi dr Gdg Good Stock ke Booking Stock

			From V_SMI_MutasiSaldoDc D
			inner join MstProduk mp on mp.idProduk = D.idProduk 
			left join dbo.tblProduknonstock as x1 with(nolock) on x1.idproduk=D.idproduk
			inner join MstDepartement z on z.idDepartement = mp.idDepartement 
			inner Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=z.idDepartement
			Inner Join MstCoa as y with (NOLOCK) on x.COACode =y.code
			where x.Keterangan='Persediaan' and mp.idjenisproduk<>4 and 
			idMovment=23 ---BOOKING OUT 
			and statusProses=1
			and idlokasiMovment=2
			--and (MONTH(tglMutasi) = MONTH(GETDATE()-1)
			--and convert(date,tglMutasi) between DATEADD(mm, DATEDIFF(mm, 0, GETDATE() -1 , 0) and DATEADD(DAY, -(DAY(GETDATE()), GETDATE()
			--and convert(date,tglMutasi) between '2019-03-01' and '2019-03-31'
			and convert(date,D.tglMutasi) between @date1 and @date2
			and iddc=@iddc
			and ISNULL(x1.NonStock,0)=0
			and mp.flagkonsinyasi=0
			--and convert(date,tglMutasi) between '2021-12-01' and '2021-12-31'
			--and iddc=4
			--and y.Name='FG Tubeless'
			--and mp.kodeproduk='1020808018'
			Group By D.iddc,mp.Barcode3,mp.kodeproduk,D.idproduk,mp.namaPanjang,z.namadepartement,Y.name
		) as m
		--where 
		--m.COA='FG Tubeless'
		 --m.kodeproduk='1010507001'
		--m.kodeproduk='5183695001'
		group by 
		m.iddc,m.idproduk,m.kodeproduk,m.Barcode3,m.namaPanjang,m.Category,m.COA,m.idjenisstok
END;
