USE [PB_DC]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [GetSMIInventoryMovementConsignment]

(
	@date1 date,   
    @date2 date,
	@kodestatustoko varchar,
	@idcabang int
	
)

AS
SET TRANSACTION ISOLATION LEVEL READ unCOMMITTED ; 

set nocount on

BEGIN

DECLARE @date1 DATE = '2025-09-01';
DECLARE @date2 DATE = '2025-09-30';
DECLARE @kodestatustoko VARCHAR(10) = 'R';
DECLARE @idcabang INT = 2;
	Select 
	DATEPART(Year,@date1) as Tahun, 
	DATEPART(month,@date1) as Bulan, 
	t.idcabang,t.namaCabang,
	t.kodetoko,t.namatoko,
	t.kodestatustoko,
	t.kodeproduk,
	t.Description,
	t.COA,
	sum(t.SAW_Qty) as SAW_Qty,
	sum(t.SAW_Value) as SAW_Value,
	sum(t.Receipt_Supp_Qty) as Receipt_Supp_Qty, 
	sum(t.Receipt_Supp_Value) as Receipt_Supp_Value,
	sum(t.TI_Qty) as TI_Qty, 
	sum(t.TI_Value) as TI_Value,
	sum(t.RTS_Qty) as RTS_Qty,
	sum(t.RTS_Value) as RTS_Value, 
	--sum(t.Qty_SO_Plus) as Qty_SO_Plus,
	--sum(t.Value_SO_Plus) as Value_SO_Plus,
	sum(t.SLS_Qty) as SLS_Qty, 
	sum(t.SLS_Value) as SLS_Value, 
	sum(t.RTRDC_Qty) as RTRDC_Qty, 
	sum(t.RTRDC_Value) as RTRDC_Value,
	
	sum(t.RTRSUPBKL_Qty) as RTRSUPBKL_Qty, 
	sum(t.RTRSUPBKL_Value) as RTRSUPBKL_Value,
	sum(t.Qty_Konversi_Out) as Qty_Konversi_Out,
	sum(t.Value_Konversi_Out) as Value_Konversi_Out,
	sum(t.Qty_Konversi_IN) as Qty_Konversi_IN,
	sum(t.Value_Konversi_IN) as Value_Konversi_IN,

	sum(t.Qty_SO_PlusMinus) as Qty_SO_PlusMinus,
	sum(t.Value_SO_PlusMinus) as Value_SO_PlusMinus,

	--sum(t.qty_saldo_hit) as qty_saldo_hit,
	--sum(t.Value_saldo_hit) as Value_saldo_hit
	(sum(t.SAW_Qty)+sum(t.Receipt_Supp_Qty)+sum(t.TI_Qty)+sum(t.RTS_Qty)-sum(t.SLS_Qty)-sum(t.RTRDC_Qty)+sum(t.Qty_SO_PlusMinus)-sum(t.RTRSUPBKL_Qty)-sum(t.Qty_Konversi_Out)+sum(t.Qty_Konversi_IN)) as qty_saldo_hit,
	(sum(t.SAW_Value)+sum(t.Receipt_Supp_Value)+sum(t.TI_Value)+sum(t.RTS_Value)-sum(t.SLS_Value)-sum(t.RTRDC_Value)+sum(t.Value_SO_PlusMinus)-sum(t.RTRSUPBKL_Value)-sum(t.Value_Konversi_Out)+sum(t.Value_Konversi_IN)) as Value_saldo_hit
	From (
		Select 
			m.iddc,m.idcabang,m.namaCabang,m.SingkatanToko,m.kodetoko,m.namaToko,m.kodestatustoko,m.idproduk,
			m.COA,m.SKU_Lama,m.kodeproduk,m.Description,m.Category,m.idjenisproduk,
			sum(m.SAW_Qty) as SAW_Qty,
			sum(m.SAW_Value) as SAW_Value,
			sum(m.Receipt_Supp_Qty) as Receipt_Supp_Qty, 
			sum(m.Receipt_Supp_Value) as Receipt_Supp_Value,
			sum(m.TI_Qty) as TI_Qty, 
			sum(m.TI_Value) as TI_Value,
			sum(m.RTS_Qty) as RTS_Qty,
			sum(m.RTS_Value) as RTS_Value,
			--sum(m.Qty_SO_Plus) as Qty_SO_Plus,
			--sum(m.Value_SO_Plus) as Value_SO_Plus,
			sum(m.SLS_Qty) as SLS_Qty, 
			sum(m.SLS_Value) as SLS_Value, 
			sum(m.RTRDC_Qty) as RTRDC_Qty, 
			sum(m.RTRDC_Value) as RTRDC_Value,
			sum(m.Qty_SO_PlusMinus) as Qty_SO_PlusMinus,
			sum(m.Value_SO_PlusMinus) as Value_SO_PlusMinus,
			sum(m.RTRSUPBKL_Qty) as RTRSUPBKL_Qty, 
			sum(m.RTRSUPBKL_Value) as RTRSUPBKL_Value,
			sum(m.Qty_Konversi_Out) as Qty_Konversi_Out,
			sum(m.Value_Konversi_Out) as Value_Konversi_Out,
			sum(m.Qty_Konversi_IN) as Qty_Konversi_IN,
			sum(m.Value_Konversi_IN) as Value_Konversi_IN
			From (
					SELECT 
						-- Saldo Awal (Beginning Balance)
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name AS COA,
						B.Barcode3 AS SKU_Lama,
						B.kodeproduk,
						B.namapanjang AS Description,
						C.namadepartement AS Category,
						B.idjenisproduk,
						ISNULL(A.qty, 0) AS SAW_Qty,
						ISNULL(A.qty, 0) * ISNULL(A.hpp, 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), 0) AS TI_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS TI_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Value, 
						CONVERT(DECIMAL(18,2), 0) AS SLS_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS SLS_Value, 
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM 
						saldostokproduktoko A WITH (NOLOCK)
						INNER JOIN mstproduk B WITH (NOLOCK) ON A.idproduk = B.idproduk
						INNER JOIN mstdepartement C WITH (NOLOCK) ON B.iddepartement = C.iddepartement
						INNER JOIN msttoko D WITH (NOLOCK) ON A.kodetoko = D.kodetoko
						INNER JOIN mastertoolstoko E WITH (NOLOCK) ON A.kodetoko = E.kodetoko AND D.kodetoko = E.kodetoko
						INNER JOIN mstcabang F WITH (NOLOCK) ON E.idcabang = F.idcabang 
						INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = C.idDepartement
						INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
					WHERE 
						B.idjenisproduk <> 4 
						AND x.Keterangan = 'Persediaan'
						AND CONVERT(DATE, A.tglSaldo) = CONVERT(DATE, DATEADD(DAY, -1, @date1))
						AND F.idcabang = @idcabang
						AND D.kodestatustoko = @kodestatustoko
						AND B.flagKonsinyasi = 1
				Union ALL 
					SELECT 
						-- Receipt Supplier di Toko
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name AS COA,
						B.Barcode3 AS SKU_Lama,
						B.kodeproduk,
						B.namapanjang AS Description,
						C.namadepartement AS Category,
						B.idjenisproduk,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty, 0))) AS Receipt_Supp_Qty,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty * A.hargaSupplierNet, 0))) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), 0) AS TI_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS TI_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Value, 
						CONVERT(DECIMAL(18,2), 0) AS SLS_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS SLS_Value, 
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Qty, 
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM 
						TiTokoDetailSupplier A WITH (NOLOCK)
						INNER JOIN TiTokoHeaderSupplier G WITH (NOLOCK) ON A.kodetoko = G.kodetoko AND A.nomorTI = G.nomorTI
						INNER JOIN mstproduk B WITH (NOLOCK) ON A.idproduk = B.idproduk 
						INNER JOIN mstdepartement C WITH (NOLOCK) ON B.iddepartement = C.iddepartement
						INNER JOIN msttoko D WITH (NOLOCK) ON A.kodetoko = D.kodetoko AND G.kodetoko = D.kodetoko
						INNER JOIN mastertoolstoko E WITH (NOLOCK) ON A.kodetoko = E.kodetoko AND D.kodetoko = E.kodetoko AND G.kodetoko = E.kodetoko
						INNER JOIN mstcabang F WITH (NOLOCK) ON E.idcabang = F.idcabang
						INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = C.idDepartement
						INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
					WHERE 
						G.statusdata = 1
						AND x.Keterangan = 'Persediaan'
						AND CONVERT(DATE, A.tanggalTI) BETWEEN @date1 AND @date2
						AND B.idjenisproduk <> 4 
						AND F.idcabang = @idcabang
						AND D.kodestatustoko = @kodestatustoko
						AND B.flagKonsinyasi = 1
					GROUP BY 
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name,
						B.Barcode3,
						B.kodeproduk,
						B.namapanjang,
						C.namadepartement,
						B.idjenisproduk
				Union ALL			
					SELECT 
						-- TI Toko
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name AS COA,
						B.Barcode3 AS SKU_Lama,
						B.kodeproduk,
						B.namapanjang AS Deskripsi,
						C.namadepartement AS Kategori,
						B.idjenisproduk,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Qty,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty, 0))) AS TI_Qty,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty * A.hpp, 0))) AS TI_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Value,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM 
						TiTokoDetailDC A WITH (NOLOCK)
						INNER JOIN TiTokoHeaderDC G WITH (NOLOCK) ON A.kodetoko = G.kodetoko AND A.NomorTI = G.NomorTI
						INNER JOIN V_SMI_TO_ke_Toko_ManualdanOtomatis_Cab H WITH (NOLOCK) ON H.kodetoko = A.kodetoko AND H.kodetoko = G.kodetoko AND H.nomorTO = G.nomorTO AND A.idproduk = H.idproduk
						INNER JOIN mstproduk B WITH (NOLOCK) ON A.idproduk = B.idproduk AND H.idproduk = B.idproduk
						INNER JOIN mstdepartement C WITH (NOLOCK) ON B.iddepartement = C.iddepartement
						INNER JOIN msttoko D WITH (NOLOCK) ON A.kodetoko = D.kodetoko AND G.kodetoko = D.kodetoko AND H.kodetoko = D.kodetoko
						INNER JOIN mastertoolstoko E WITH (NOLOCK) ON A.kodetoko = E.kodetoko AND D.kodetoko = E.kodetoko AND G.kodetoko = E.kodetoko AND H.kodetoko = E.kodetoko
						INNER JOIN mstcabang F WITH (NOLOCK) ON E.idcabang = F.idcabang
						INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = C.idDepartement
						INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
					WHERE 
						H.statusdata = 2
						AND x.Keterangan = 'Persediaan'
						AND CONVERT(DATE, A.TanggalTI) BETWEEN @date1 AND @date2
						AND B.idjenisproduk <> 4
						AND F.idcabang = @idcabang
						AND D.kodestatustoko = @kodestatustoko
						AND B.flagKonsinyasi = 1
					GROUP BY 
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name,
						B.Barcode3,
						B.kodeproduk,
						B.namapanjang,
						C.namadepartement,
						B.idjenisproduk
				Union ALL
					SELECT 
						-- Retur Sales
						G.iddc,
						J.idcabang,
						J.namaCabang,
						G.SingkatanToko,
						A.kodetoko,
						G.namaToko,
						G.kodestatustoko,
						A.idproduk,
						y.name AS COA,
						C.Barcode3 AS SKU_Lama,
						C.kodeproduk,
						C.namapanjang AS Deskripsi,
						F.namadepartement AS Kategori,
						C.idjenisproduk,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Qty,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), 0) AS TI_Qty,
						CONVERT(DECIMAL(18,2), 0) AS TI_Value,
						CONVERT(DECIMAL(18,2), ISNULL(SUM(A.Qty), 0) * -1) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), ISNULL(SUM(A.Qty * A.hpp), 0) * -1) AS RTS_Value,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM 
						TransaksiTokoDetail A WITH (NOLOCK)
						LEFT JOIN TransaksiTokoHeader B WITH (NOLOCK) ON A.kodetoko = B.kodetoko AND A.NomorTransaksi = B.NomorTransaksi
						LEFT JOIN mstproduk C WITH (NOLOCK) ON A.idproduk = C.idproduk
						LEFT JOIN mstbrand D WITH (NOLOCK) ON C.idbrand = D.idbrand
						LEFT JOIN mstdivisi E WITH (NOLOCK) ON C.iddivisi = E.iddivisi
						LEFT JOIN mstdepartement F WITH (NOLOCK) ON C.iddivisi = F.iddivisi AND E.iddivisi = F.iddivisi AND C.iddepartement = F.iddepartement
						LEFT JOIN mstsubdepartement L WITH (NOLOCK) ON C.iddivisi = L.iddivisi AND E.iddivisi = L.iddivisi AND F.iddivisi = L.iddivisi 
							AND C.iddepartement = L.iddepartement AND F.iddepartement = L.iddepartement AND C.idsubdepartement = L.idsubdepartement
						LEFT JOIN msttoko G WITH (NOLOCK) ON A.kodetoko = G.kodetoko AND B.kodetoko = G.kodetoko
						LEFT JOIN mastertoolstoko H WITH (NOLOCK) ON A.kodetoko = H.kodetoko AND B.kodetoko = H.kodetoko AND G.kodetoko = H.kodetoko
						LEFT JOIN mstcabang J WITH (NOLOCK) ON H.idcabang = J.idcabang
						INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = F.idDepartement
						INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
					WHERE 
						A.statusproduk = 'R'
						AND x.Keterangan = 'Persediaan'
						AND CONVERT(DATE, B.tglBisnis) BETWEEN @date1 AND @date2
						AND C.idjenisproduk <> 4
						AND J.idcabang = @idcabang
						AND G.kodestatustoko = @kodestatustoko
						AND C.flagKonsinyasi = 1
					GROUP BY 
						G.iddc,
						J.idcabang,
						J.namaCabang,
						G.SingkatanToko,
						A.kodetoko,
						G.namaToko,
						G.kodestatustoko,
						A.idproduk,
						y.name,
						C.Barcode3,
						C.kodeproduk,
						C.namapanjang,
						F.namadepartement,
						C.idjenisproduk
				Union ALL
					SELECT 
						-- Sales
						G.iddc,
						J.idcabang,
						J.namaCabang,
						G.SingkatanToko,
						A.kodetoko,
						G.namaToko,
						G.kodestatustoko,
						A.idproduk,
						y.name AS COA,
						C.Barcode3 AS SKU_Lama,
						C.kodeproduk,
						C.namapanjang AS Deskripsi,
						F.namadepartement AS Kategori,
						C.idjenisproduk,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Qty,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), 0) AS TI_Qty,
						CONVERT(DECIMAL(18,2), 0) AS TI_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Value,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty, 0))) AS SLS_Qty,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty * A.hpp, 0))) AS SLS_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM 
						TransaksiTokoDetail A WITH (NOLOCK)
						INNER JOIN TransaksiTokoHeader B WITH (NOLOCK) ON A.kodetoko = B.kodetoko AND A.NomorTransaksi = B.NomorTransaksi
						INNER JOIN mstproduk C WITH (NOLOCK) ON A.idproduk = C.idproduk
						INNER JOIN mstbrand D WITH (NOLOCK) ON C.idbrand = D.idbrand
						INNER JOIN mstdivisi E WITH (NOLOCK) ON C.iddivisi = E.iddivisi
						INNER JOIN mstdepartement F WITH (NOLOCK) ON C.iddivisi = F.iddivisi AND E.iddivisi = F.iddivisi AND C.iddepartement = F.iddepartement
						INNER JOIN mstsubdepartement L WITH (NOLOCK) ON C.iddivisi = L.iddivisi AND E.iddivisi = L.iddivisi AND F.iddivisi = L.iddivisi 
							AND C.iddepartement = L.iddepartement AND F.iddepartement = L.iddepartement AND C.idsubdepartement = L.idsubdepartement
						INNER JOIN msttoko G WITH (NOLOCK) ON A.kodetoko = G.kodetoko AND B.kodetoko = G.kodetoko
						INNER JOIN mastertoolstoko H WITH (NOLOCK) ON A.kodetoko = H.kodetoko AND B.kodetoko = H.kodetoko AND G.kodetoko = H.kodetoko
						INNER JOIN mstcabang J WITH (NOLOCK) ON H.idcabang = J.idcabang
						INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = F.idDepartement
						INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
					WHERE 
						A.statusproduk <> 'R'
						AND x.Keterangan = 'Persediaan'
						AND CONVERT(DATE, B.tglBisnis) BETWEEN @date1 AND @date2
						AND C.idjenisproduk <> 4
						AND A.qty >= 0
						AND J.idcabang = @idcabang
						AND G.kodestatustoko = @kodestatustoko
						AND C.flagKonsinyasi = 1
					GROUP BY 
						G.iddc,
						J.idcabang,
						J.namaCabang,
						G.SingkatanToko,
						A.kodetoko,
						G.namaToko,
						G.kodestatustoko,
						A.idproduk,
						y.name,
						C.Barcode3,
						C.kodeproduk,
						C.namapanjang,
						F.namadepartement,
						C.idjenisproduk
				Union ALL
					SELECT 
						-- Retur TO dari Toko ke DC
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name AS COA,
						B.Barcode3 AS SKU_Lama,
						B.kodeproduk,
						B.namapanjang AS Deskripsi,
						C.namadepartement AS Kategori,
						B.idjenisproduk,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Qty,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), 0) AS TI_Qty,
						CONVERT(DECIMAL(18,2), 0) AS TI_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Value,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Value,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty, 0))) AS RTRDC_Qty,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty * A.hpp, 0))) AS RTRDC_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM 
						ReturTokokeDcDetail A WITH (NOLOCK)
						INNER JOIN ReturTokokeDcHeader G WITH (NOLOCK) ON A.kodetoko = G.kodetoko AND A.nomorretur = G.nomorretur
						INNER JOIN mstproduk B WITH (NOLOCK) ON A.idproduk = B.idproduk
						INNER JOIN mstdepartement C WITH (NOLOCK) ON B.iddepartement = C.iddepartement
						INNER JOIN msttoko D WITH (NOLOCK) ON A.kodetoko = D.kodetoko AND G.kodetoko = D.kodetoko
						INNER JOIN mastertoolstoko E WITH (NOLOCK) ON A.kodetoko = E.kodetoko AND D.kodetoko = E.kodetoko AND G.kodetoko = E.kodetoko
						INNER JOIN mstcabang F WITH (NOLOCK) ON E.idcabang = F.idcabang
						INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = C.idDepartement
						INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
					WHERE 
						G.statusdata NOT IN (0, 9) -- Update 20 Mei 2022 by Toha
						AND x.Keterangan = 'Persediaan'
						AND CONVERT(DATE, G.tglRetur) BETWEEN @date1 AND @date2
						AND B.idjenisproduk <> 4
						AND F.idcabang = @idcabang
						AND D.kodestatustoko = @kodestatustoko
						AND B.flagKonsinyasi = 1
					GROUP BY 
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name,
						B.Barcode3,
						B.kodeproduk,
						B.namapanjang,
						C.namadepartement,
						B.idjenisproduk		
				Union ALL
					SELECT 
						-- Retur Supplier BKL
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name AS COA,
						B.Barcode3 AS SKU_Lama,
						B.kodeproduk,
						B.namapanjang AS Deskripsi,
						C.namadepartement AS Kategori,
						B.idjenisproduk,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Qty,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), 0) AS TI_Qty,
						CONVERT(DECIMAL(18,2), 0) AS TI_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Value,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Qty, -- Diperbaiki: RTRDC_Qty diatur ke 0
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Value, -- Diperbaiki: RTRDC_Value diatur ke 0
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty, 0))) AS RTRSUPBKL_Qty,
						CONVERT(DECIMAL(18,2), SUM(ISNULL(A.qty * A.hpp, 0))) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM 
						ReturTokoKeSupplierDetail A WITH (NOLOCK)
						INNER JOIN ReturTokoKeSupplierHeader G WITH (NOLOCK) ON A.kodetoko = G.kodetoko AND A.nomorretur = G.nomorretur
						INNER JOIN mstproduk B WITH (NOLOCK) ON A.idproduk = B.idproduk
						INNER JOIN mstdepartement C WITH (NOLOCK) ON B.iddepartement = C.iddepartement
						INNER JOIN msttoko D WITH (NOLOCK) ON A.kodetoko = D.kodetoko AND G.kodetoko = D.kodetoko
						INNER JOIN mastertoolstoko E WITH (NOLOCK) ON A.kodetoko = E.kodetoko AND D.kodetoko = E.kodetoko AND G.kodetoko = E.kodetoko
						INNER JOIN mstcabang F WITH (NOLOCK) ON E.idcabang = F.idcabang
						INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = C.idDepartement
						INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
					WHERE 
						G.statusdata = 2
						AND x.Keterangan = 'Persediaan'
						AND CONVERT(DATE, G.tglRetur) BETWEEN @date1 AND @date2
						AND B.idjenisproduk <> 4
						AND F.idcabang = @idcabang
						AND D.kodestatustoko = @kodestatustoko
						AND B.flagKonsinyasi = 1
					GROUP BY 
						D.iddc,
						F.idcabang,
						F.namaCabang,
						D.SingkatanToko,
						A.kodetoko,
						D.namaToko,
						D.kodestatustoko,
						A.idproduk,
						y.name,
						B.Barcode3,
						B.kodeproduk,
						B.namapanjang,
						C.namadepartement,
						B.idjenisproduk
				Union ALL
					SELECT 
						-- SO Adjustment Plus Minus
						S.iddc,
						S.idcabang,
						S.namaCabang,
						S.SingkatanToko,
						S.kodetoko,
						S.namaToko,
						S.kodestatustoko,
						S.idproduk,
						S.COA,
						S.SKU_Lama,
						S.kodeproduk,
						S.Description AS Deskripsi,
						S.Category AS Kategori,
						S.idjenisproduk,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SAW_Value,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Qty,
						CONVERT(DECIMAL(18,2), 0) AS Receipt_Supp_Value,
						CONVERT(DECIMAL(18,2), 0) AS TI_Qty,
						CONVERT(DECIMAL(18,2), 0) AS TI_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTS_Value,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Qty,
						CONVERT(DECIMAL(18,2), 0) AS SLS_Value,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRDC_Value,
						CONVERT(DECIMAL(18,2), SUM(S.Qty_SO_PlusMinus)) AS Qty_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), SUM(S.Value_SO_PlusMinus)) AS Value_SO_PlusMinus,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Qty,
						CONVERT(DECIMAL(18,2), 0) AS RTRSUPBKL_Value,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_Out,
						CONVERT(DECIMAL(18,2), 0) AS Qty_Konversi_IN,
						CONVERT(DECIMAL(18,2), 0) AS Value_Konversi_IN
					FROM (
						SELECT 
							-- Subquery untuk SO Adjustment Plus Minus
							D.iddc,
							F.idcabang,
							F.namaCabang,
							D.SingkatanToko,
							A.kodetoko,
							D.namaToko,
							D.kodestatustoko,
							A.idproduk,
							y.name AS COA,
							B.Barcode3 AS SKU_Lama,
							B.kodeproduk,
							B.namapanjang AS Description,
							C.namadepartement AS Category,
							B.idjenisproduk,
							SUM(ISNULL(A.qtyselisih, 0)) AS Qty_SO_PlusMinus,
							SUM(ISNULL(A.subtotalselisih, 0)) AS Value_SO_PlusMinus
						FROM 
							SoAdjusmentTokoDetail A WITH (NOLOCK)
							INNER JOIN SoAdjusmentTokoHeader G WITH (NOLOCK) ON A.kodetoko = G.kodetoko AND A.nomorSOAdjusment = G.nomorSOAdjusment
							INNER JOIN mstproduk B WITH (NOLOCK) ON A.idproduk = B.idproduk
							INNER JOIN mstdepartement C WITH (NOLOCK) ON B.iddepartement = C.iddepartement
							INNER JOIN msttoko D WITH (NOLOCK) ON A.kodetoko = D.kodetoko AND G.kodetoko = D.kodetoko
							INNER JOIN mastertoolstoko E WITH (NOLOCK) ON A.kodetoko = E.kodetoko AND D.kodetoko = E.kodetoko AND G.kodetoko = E.kodetoko
							INNER JOIN mstcabang F WITH (NOLOCK) ON E.idcabang = F.idcabang
							INNER JOIN TblDeptCOA x WITH (NOLOCK) ON x.idDepartement = C.idDepartement
							INNER JOIN MstCoa y WITH (NOLOCK) ON x.COACode = y.code
							LEFT JOIN tblProduknonstock x1 WITH (NOLOCK) ON x1.idproduk = A.idproduk
						WHERE 
							x.Keterangan = 'Persediaan'
							AND CONVERT(DATE, G.tglSOAdjusment) BETWEEN @date1 AND @date2
							AND B.idjenisproduk <> 4
							AND F.idcabang = @idcabang
							AND D.kodestatustoko = @kodestatustoko
							AND ISNULL(x1.nonstock, 0) = 0
							AND B.flagKonsinyasi = 1
							AND G.statusData <> 9 -- Ditambahkan oleh Arief Mei 2025
						GROUP BY 
							D.iddc,
							F.idcabang,
							F.namaCabang,
							D.SingkatanToko,
							A.kodetoko,
							D.namaToko,
							D.kodestatustoko,
							A.idproduk,
							y.name,
							B.Barcode3,
							B.kodeproduk,
							B.namapanjang,
							C.namadepartement,
							B.idjenisproduk
					) AS S
					GROUP BY 
						S.iddc,
						S.idcabang,
						S.namaCabang,
						S.SingkatanToko,
						S.kodetoko,
						S.namaToko,
						S.kodestatustoko,
						S.idproduk,
						S.COA,
						S.SKU_Lama,
						S.kodeproduk,
						S.Description,
						S.Category,
						S.idjenisproduk
			union all
					Select -- Konversi Out -- Item Konversi 
					c.iddc,D.idcabang,F.NamaCabang,c.singkatanToko,z.kodetoko,c.namaToko,c.kodeStatusToko,z.idproduk,
					y.name as COA,B.barcode3 as SKU_Lama,B.kodeproduk, B.namaPanjang as Description,G.namadepartement as Category,B.idjenisproduk,
					Convert(Decimal(18,2),0) as SAW_Qty, 
					Convert(Decimal(18,2),0) as SAW_Value, 
					Convert(Decimal(18,2),0) as Receipt_Supp_Qty, 
					Convert(Decimal(18,2),0) as Receipt_Supp_Value,
					Convert(Decimal(18,2),0) as TI_Qty, 
					Convert(Decimal(18,2),0) as TI_Value, 
					Convert(Decimal(18,2),0) as RTS_Qty, 
					Convert(Decimal(18,2),0) as RTS_Value,
					--Convert(Decimal(18,2),0) as Qty_SO_Plus,
					--Convert(Decimal(18,2),0) as Value_SO_Plus,
					Convert(Decimal(18,2),0) as SLS_Qty, 
					Convert(Decimal(18,2),0) as SLS_Value, 
					Convert(Decimal(18,2),0) as RTRDC_Qty, 
					Convert(Decimal(18,2),0) as RTRDC_Value, 
					Convert(Decimal(18,2),0) as Qty_SO_Plusminus,
					Convert(Decimal(18,2),0) as Value_SO_Plusminus,
					Convert(Decimal(18,2),0) as RTRSUPBKL_Qty,
					Convert(Decimal(18,2),0) as RTRSUPBKL_Value,
					Convert(Decimal(18,2),(sum(isnull(z.Qty_konversi_Out,0))),0)*-1 as Qty_konversi_Out,
					Convert(Decimal(18,2),(sum(isnull(z.Value_konversi_Out,0))),0)*-1 as Value_konversi_Out,
					Convert(Decimal(18,2),(sum(isnull(z.Qty_konversi_in,0))),0) as Qty_konversi_in,
					Convert(Decimal(18,2),(sum(isnull(z.Value_konversi_in,0))),0) as Value_konversi_in
					from (
							
							select -- Queri Konversi Out Dan SO plus dan SO Minus 
							convert(date,m.tglSOAdjusment) as tglSOAdjusment,
							t.tglMovment,
							t.kodetoko,
							t.idprodukinduk as idproduk,
							case 
								when sum(isnull(m.Qty_SO,0))>=0 Then sum(isnull(m.Qty_SO,0)) 
							End as Qty_SO_Plus,
							Case 
								when sum(isnull(m.Value_SO,0))>=0 Then sum(isnull(m.Value_SO,0)) 
							End as Value_SO_Plus,
							case 
								when sum(isnull(m.Qty_SO,0))<0 Then sum(isnull(m.Qty_SO,0)) 
							End as Qty_SO_Minus,
							Case 
								when sum(isnull(m.Value_SO,0))<0 Then sum(isnull(m.Value_SO,0)) 
							End as Value_SO_Minus,
							Case when sum(isnull(m.Qty_SO,0))>sum(isnull(t.Qty_Adj_idProdukInduk,0)) Then (sum(isnull(m.Qty_SO,0))-sum(isnull(t.Qty_Adj_idProdukInduk,0)))*-1 End as Qty_konversi_Out,
							Case when sum(isnull(m.Value_SO,0))>sum(isnull(t.value_Adj_idProdukInduk,0)) Then (sum(isnull(m.value_SO,0))-sum(isnull(t.value_Adj_idProdukInduk,0)))*-1 End as Value_konversi_Out,
							0 as Qty_konversi_in,
							0 as Value_konversi_in												
							From  
								(select -- Adj Konversi --idProdukIndukKonversi
								B.tglMovment,
								B.kodetoko,
								A.idprodukinduk,
								A.idprodukkonversi,
								isnull(B.qty,0) as Qty_Adj_idProdukInduk,
								(isnull(B.qty,0)*isnull(B.hpp,0)) as Value_Adj_idProdukInduk,
								isnull(C.qty,0) as Qty_Adj_idProdukKonversi,
								(isnull(C.qty,0)*isnull(C.hpp,0)) as Value_Adj_idProdukKonversi,
								A.jumlahKonversi,
								round((isnull(C.qty,0)/A.jumlahKonversi),0) as Qty_konversi,
								((isnull(C.qty,0)*isnull(C.hpp,0))/A.jumlahKonversi) as Value_konversi
								from MstKonversiProduk as A
								left Join ProdukMovmentToko as B on B.idproduk=A.idProdukInduk
								left Join ProdukMovmentToko as C on C.idproduk=A.idProdukKonversi and CONVERT(date,b.tglMovment)=CONVERT(date,c.tglMovment) and B.idMovment=C.idMovment and B.kodetoko=C.kodetoko
								where 
								B.idMovment=7 and	
								CONVERT(date,B.tglMovment) between @date1 and @date2
								) as t
						Left Join (select  --- SO Adjusment (+/-)--- idProdukIndukKonversi
									convert(date,G.tglSOAdjusment) as tglSOAdjusment,
									A.kodetoko,
									A.idProduk,
									isnull(sum(A.qtyselisih),0) as Qty_SO,
									isnull(sum(A.subtotalselisih),0) as Value_SO
									from SoAdjusmentTokoDetail as A with(nolock)
									join SoAdjusmentTokoHeader as G with(nolock) On A.kodetoko=G.kodetoko and A.nomorSOAdjusment=G.nomorSOAdjusment
									Join MstKonversiProduk as b with(nolock) on A.idProduk=b.idProdukInduk 								
									where
									Convert(date,G.tglSOAdjusment) between @date1 and @date2
									and G.statusData<>9 ---add by Arief Mei 2025
									group by A.kodetoko,A.idProduk,convert(date,G.tglSOAdjusment)
								) as m on convert(date,m.tglSOAdjusment)=t.tglMovment and m.kodetoko=t.kodetoko and m.idProduk=t.idProdukInduk
						group by t.tglMovment,t.kodetoko,t.idProdukInduk,convert(date,m.tglSOAdjusment)						
					union all
						select -- Konversi IN
						convert(date,m.tglSOAdjusment) as tglSOAdjusment,
						x2.tglMovment,
						x2.kodetoko,
						x21.idprodukkonversi as idproduk,
						case 
							when sum(isnull(m.Qty_SO,0))>=0 Then sum(isnull(m.Qty_SO,0)) 
						End as Qty_SO_Plus,
						Case 
							when sum(isnull(m.Value_SO,0))>=0 Then sum(isnull(m.Value_SO,0)) 
						End as Value_SO_Plus,
						case 
							when sum(isnull(m.Qty_SO,0))<0 Then sum(isnull(m.Qty_SO,0)) 
						End as Qty_SO_Minus,
						Case 
							when sum(isnull(m.Value_SO,0))<0 Then sum(isnull(m.Value_SO,0)) 
						End as Value_SO_Minus,
						0 as Qty_konversi_out,
						0 as Value_konversi_out,
						-1*sum(x2.Qty_konversi_Out*x21.jumlahkonversi) as Qty_konversi_in,
						-1*sum(x2.value_konversi_Out) as value_konversi_in
						From (
								select -- Queri Konversi Out Dan SO plus dan SO Minus 
								convert(date,m.tglSOAdjusment) as tglSOAdjusment,
								t.tglMovment,
								t.kodetoko,
								t.idprodukinduk,
								Case when sum(isnull(m.Qty_SO,0))>sum(isnull(t.Qty_Adj_idProdukInduk,0)) Then (sum(isnull(m.Qty_SO,0))-sum(isnull(t.Qty_Adj_idProdukInduk,0)))*-1 End as Qty_konversi_Out,
								Case when sum(isnull(m.Value_SO,0))>sum(isnull(t.value_Adj_idProdukInduk,0)) Then (sum(isnull(m.value_SO,0))-sum(isnull(t.value_Adj_idProdukInduk,0)))*-1 End as Value_konversi_Out				
								From  
									(
									select -- Adj Konversi --idProdukIndukKonversi
									B.tglMovment,
									B.kodetoko,
									A.idprodukinduk,
									A.idprodukkonversi,
									isnull(B.qty,0) as Qty_Adj_idProdukInduk,
									(isnull(B.qty,0)*isnull(B.hpp,0)) as Value_Adj_idProdukInduk,
									isnull(C.qty,0) as Qty_Adj_idProdukKonversi,
									(isnull(C.qty,0)*isnull(C.hpp,0)) as Value_Adj_idProdukKonversi,
									A.jumlahKonversi,
									round((isnull(C.qty,0)/A.jumlahKonversi),0) as Qty_konversi,
									((isnull(C.qty,0)*isnull(C.hpp,0))/A.jumlahKonversi) as Value_konversi
									from MstKonversiProduk as A
									left Join ProdukMovmentToko as B on B.idproduk=A.idProdukInduk
									left Join ProdukMovmentToko as C on C.idproduk=A.idProdukKonversi and CONVERT(date,b.tglMovment)=CONVERT(date,c.tglMovment) and B.idMovment=C.idMovment and B.kodetoko=C.kodetoko
									where 
									B.idMovment=7 and	
									CONVERT(date,B.tglMovment) between @date1 and @date2
									) as t
							Left Join (select  --- SO Adjusment (+/-)--- idProdukIndukKonversi
										convert(date,G.tglSOAdjusment) as tglSOAdjusment,
										A.kodetoko,
										A.idProduk,
										isnull(sum(A.qtyselisih),0) as Qty_SO,
										isnull(sum(A.subtotalselisih),0) as Value_SO
										from SoAdjusmentTokoDetail as A with(nolock)
										join SoAdjusmentTokoHeader as G with(nolock) On A.kodetoko=G.kodetoko and A.nomorSOAdjusment=G.nomorSOAdjusment
										Join MstKonversiProduk as b with(nolock) on A.idProduk=b.idProdukInduk 								
										where
										Convert(date,G.tglSOAdjusment) between @date1 and @date2
										and G.statusData<>9
										group by A.kodetoko,A.idProduk,convert(date,G.tglSOAdjusment)
									) as m on convert(date,m.tglSOAdjusment)=t.tglMovment and m.kodetoko=t.kodetoko and m.idProduk=t.idProdukInduk
							group by t.tglMovment,t.kodetoko,t.idProdukInduk,convert(date,m.tglSOAdjusment)
						) as x2 
						join MstKonversiProduk as x21 on x2.idProdukInduk=x21.idProdukInduk
						Left Join (select  --- SO Adjusment (+/-)--- idProdukIndukKonversi
									convert(date,G.tglSOAdjusment) as tglSOAdjusment,
									A.kodetoko,
									A.idProduk,
									isnull(sum(A.qtyselisih),0) as Qty_SO,
									isnull(sum(A.subtotalselisih),0) as Value_SO
									from SoAdjusmentTokoDetail as A with(nolock)
									join SoAdjusmentTokoHeader as G with(nolock) On A.kodetoko=G.kodetoko and A.nomorSOAdjusment=G.nomorSOAdjusment
									Join MstKonversiProduk as b with(nolock) on A.idProduk=b.idProdukKonversi 								
									where
									Convert(date,G.tglSOAdjusment) between @date1 and @date2
									and G.statusData<>9
									group by A.kodetoko,A.idProduk,convert(date,G.tglSOAdjusment)
									) as m on convert(date,m.tglSOAdjusment)=x2.tglMovment and m.kodetoko=x2.kodetoko and m.idProduk=x21.idProdukKonversi
							group by x2.tglMovment,x2.kodetoko,x21.idprodukkonversi,convert(date,m.tglSOAdjusment)
						
					) as z
					join MstToko c on z.kodeToko=c.kodeToko  						
					join MasterToolsToko as D on D.kodetoko=z.kodetoko and D.kodetoko=C.kodetoko 
					join mstcabang as F on D.idcabang=F.idcabang
					join MstProduk B on z.idProduk=B.idProduk
					left join tblProduknonstock as x1 with (nolock) on x1.idproduk=z.idproduk --and x1.idproduk=B.idproduk
					join MstDepartement as G on G.idDepartement=B.idDepartement
					Join TblDeptCOA as x with (NOLOCK) on x.idDepartement=B.idDepartement and x.idDepartement=G.idDepartement
					Join MstCoa as y with (NOLOCK) on x.COACode=y.code 
					where 
					x.Keterangan = 'Persediaan' and B.idjenisproduk<>4 
					and F.idcabang=@idcabang
					and C.kodestatustoko=@kodestatustoko
					and ISNULL(x1.nonstock,0)=0
					and B.flagKonsinyasi=1
					group by 
					c.iddc,D.idcabang,F.NamaCabang,c.singkatanToko,z.kodetoko,c.namaToko,c.kodeStatusToko,z.idProduk,
					y.name,B.barcode3,B.kodeproduk, B.namaPanjang,G.namadepartement,B.idjenisproduk
		) as m
		left join tblProduknonstock as x1 with (nolock) on x1.idproduk=m.idproduk 
		Where
		ISNULL(x1.nonstock,0)=0
		group by 
		m.iddc,m.idcabang,m.namaCabang,m.SingkatanToko,m.kodetoko,m.namaToko,m.kodestatustoko,m.idproduk,
		m.COA,m.SKU_Lama,m.kodeproduk,m.Description,m.Category,m.idjenisproduk

	) as t	
	--where
	--t.kodetoko='3021004' and t.COA='FG CVT'	
	Group by t.idcabang,t.namaCabang,t.kodetoko,t.namatoko,t.kodestatustoko,t.kodeproduk,t.Description,t.COA
	order by t.kodetoko asc,t.COA asc,t.kodeproduk asc;
END;	
