USE [MB_DB_Reporting_SBY]
GO
/****** Object:  StoredProcedure [dbo].[spDataPenggunaanVoucher]    Script Date: 4/14/2026 9:30:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[spDataPenggunaanVoucher] (@date1 date,@date2 date,@idcabang int)
as
begin
--DECLARE @date1 DATE = '2026-03-01', @date2 DATE = '2026-03-01', @idcabang VARCHAR(5) = '3';
--	--Start Query Header Voucher
	INSERT INTO MB_DB_Reporting_SBY.DBO.MB_Data_Penggunaan_Voucher
SELECT x.NamaCabang,x.kodetoko,x.namaToko,x.tglBayar,x.nomorTransaksi,x.NoPolisi,x.namaMember,x.NoTelp,x.namaJenisMember,x.namaGroupVoucher,x.namaMarchant,x.kodeVoucher,x.kodeCaraBayar,x.nominalVoucher,x.totalQty,x.totalRpPenjualan,
CASE WHEN a.rpRealBayar is null then 0 else a.rpRealBayar end as RpBayarTunai,
CASE WHEN b.rpbayar is null then 0 else b.rpBayar end as RpBayarNonTunai
FROM (
	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar as nominalVoucher,totalQty,totalRpPenjualan 
	FROM MB_DC_SBY.DBO.transaksitokoHeader a
			JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN MB_DC_SBY.DBO.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN MB_DC_SBY.DBO.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN MB_DC_SBY.DBO.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
							JOIN MB_DC_SBY.DBO.mstMember b 
								ON b.noPolisi=g.noPolisi
							JOIN MB_DC_SBY.DBO.mstJenisMember d 
								ON d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN MB_DC_SBY.DBO.smimstgroupvoucherheader h 
								ON h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN MB_DC_SBY.DBO.MstMarchantVoucher i 
								ON c.idMarchant = i.idMarchant 
							LEFT JOIN MB_DC_SBY.DBO.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='VOU' and substring(c.nomorserivoucher,1,1) in ('1','3')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar as nominalVoucher,totalQty,totalRpPenjualan 
	FROM MB_DC_SBY.DBO.transaksitokoHeader a
			JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN MB_DC_SBY.DBO.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN MB_DC_SBY.DBO.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN MB_DC_SBY.DBO.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
							JOIN MB_DC_SBY.DBO.mstMember b 
								on b.noPolisi=g.noPolisi
							JOIN MB_DC_SBY.DBO.mstJenisMember d 
								on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN MB_DC_SBY.DBO.smimstgroupvoucherheaderDiskon h 
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN MB_DC_SBY.DBO.MstMarchantVoucher i 
								ON c.idMarchant = i.idMarchant  
							LEFT JOIN MB_DC_SBY.DBO.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='VOU' and substring(c.nomorserivoucher,1,1) in ('2','4')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar as nominalVoucher,totalQty,totalRpPenjualan 
	FROM MB_DC_SBY.DBO.transaksitokoHeader a
			JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN MB_DC_SBY.DBO.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN MB_DC_SBY.DBO.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN MB_DC_SBY.DBO.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								JOIN MB_DC_SBY.DBO.mstMember b on b.noPolisi=g.noPolisi
								JOIN MB_DC_SBY.DBO.mstJenisMember d on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN MB_DC_SBY.DBO.smimstgroupvoucherheaderPersen h 
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN MB_DC_SBY.DBO.MstMarchantVoucherPersen I 
								ON c.idMarchant = I.idMarchant  
							LEFT JOIN MB_DC_SBY.DBO.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='PVO' and substring(c.nomorserivoucher,1,1) in ('5','7')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar as nominalVoucher,totalQty,totalRpPenjualan 
	FROM MB_DC_SBY.DBO.transaksitokoHeader a
			JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN MB_DC_SBY.DBO.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN MB_DC_SBY.DBO.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN MB_DC_SBY.DBO.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								JOIN MB_DC_SBY.DBO.mstMember b on b.noPolisi=g.noPolisi
								JOIN MB_DC_SBY.DBO.mstJenisMember d on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN MB_DC_SBY.DBO.smimstgroupvoucherheaderDiskonPersen h
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN MB_DC_SBY.DBO.MstMarchantVoucherPersen I 
								ON c.idMarchant = I.idMarchant  
							LEFT JOIN MB_DC_SBY.DBO.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='VOU' and substring(c.nomorserivoucher,1,1) in ('6','8')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,h.namaGroupVoucher,i.namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar as nominalVoucher,totalQty,totalRpPenjualan 
	FROM MB_DC_SBY.DBO.transaksitokoHeader a
			JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN MB_DC_SBY.DBO.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN MB_DC_SBY.DBO.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN MB_DC_SBY.DBO.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								JOIN MB_DC_SBY.DBO.mstMember b on b.noPolisi=g.noPolisi
								JOIN MB_DC_SBY.DBO.mstJenisMember d on d.idjenisMember=g.idjenisMember
							--JOIN untuk mencari group
							LEFT JOIN MB_DC_SBY.DBO.smimstgroupvoucherheaderPersen h 
								on h.idGroupVoucher=c.idGroupVoucher
							--JOIN untuk mencari marchant
							LEFT JOIN MB_DC_SBY.DBO.MstMarchantVoucherPersen I 
								ON c.idMarchant = I.idMarchant 
							LEFT JOIN MB_DC_SBY.DBO.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and c.kodecarabayar='VOU' and substring(c.nomorserivoucher,1,1) in ('9')

	UNION ALL

	SELECT j.NamaCabang,a.kodetoko,namaToko,tglBayar,a.nomorTransaksi,g.NoPolisi,namaMember,NoTelp,namaJenisMember,' ' as namaGroupVoucher,' ' as namaMarchant,c.NomorSeriVoucher as kodeVoucher,c.kodeCaraBayar,c.rpBayar as nominalVoucher,totalQty,totalRpPenjualan 
	FROM MB_DC_SBY.DBO.transaksitokoHeader a
			JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarNonTunaiVoucher c on c.kodetoko=a.kodetoko and c.nomorTransaksi=a.nomorTransaksi
					JOIN MB_DC_SBY.DBO.mstToko f on f.kodetoko=a.kodetoko and f.kodetoko=c.kodetoko
					JOIN MB_DC_SBY.DBO.masterToolsToko e on e.kodetoko=a.kodetoko and e.kodetoko=c.kodetoko and e.kodetoko=f.kodetoko
						JOIN MB_DC_SBY.DBO.SMITransaksiTokoPerjenisMember g on g.kodetoko=a.kodetoko and g.kodetoko=c.kodetoko and g.kodetoko=f.kodetoko and g.kodetoko=e.kodetoko  
							and g.nomorTransaksi=a.nomorTransaksi and g.nomorTransaksi=c.nomorTransaksi
							--JOIN master Member	
								LEFT JOIN MB_DC_SBY.DBO.mstMember b on b.noPolisi=g.noPolisi
								LEFT JOIN MB_DC_SBY.DBO.mstJenisMember d on d.idjenisMember=g.idjenisMember 
							LEFT JOIN MB_DC_SBY.DBO.MstCabang j
								ON e.idcabang = j.idCabang
	--WHERE CONVERT(date,tglBayar) between '2025-10-01' and '2025-10-01' and e.idcabang=5
	WHERE CONVERT(date,tglBayar) between @date1 and @date2 and e.idcabang=@idcabang
	and SUBSTRING(c.nomorseriVoucher,1,1) not like '[0-9]'
	--ORDER BY kodetoko,tglBayar

) AS x
LEFT JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarTunai a on a.kodeToko=x.kodeToko and a.nomorTransaksi=x.nomorTransaksi
LEFT JOIN MB_DC_SBY.DBO.TransaksiTokoPembayaranPerCaraBayarNonTunaiKartu b on b.kodeToko=x.kodeToko and b.nomorTransaksi=x.nomorTransaksi
ORDER BY x.kodetoko,x.tglBayar
	---End Query
	
end;
